.callToAction{
    margin-top:60px;

    background: #f4f4f4;
}

.callToAction h1{
    text-align: start;
    
}

.rooftopBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rooftopBox img{
    width: 500px;

    padding: 30px 0px 30px 10px;

    border-radius: 25px;
}

.callItens{
    padding: 30px 0px 30px 10px;
}

.callItens p{
    color: #212529;
    margin: 5px;
}

.callButton{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 0px 30px 10px;
}

.callButton a{
    text-decoration: none;
    padding: 10px 18px;

    background: var(--cor-vinho);
    color: #f4f4f4;
}

.callButton a:hover{
    color: var(--cor-vinho);
    background: #fff;
    text-decoration: none;

    border: 1px solid var(--cor-vinho);
}

@media(max-width:1000px){
    .rooftopBox{
        flex-direction: column;
    }

    .rooftopBox img{
        width: 100%;
    }
}