main #itens{
    display: flex;
    justify-content: space-between;
}
#txtHeader{
    display: flex;
    justify-content: space-between;
    background: var(--cor-vinho);
}

nav #brand{
    margin: 10px;
    width:70px;
}

#links a{
    text-decoration: none;
    margin-left: 10px;

    color: #fff;
}

#links a:hover{
    color: rgba(255, 255, 255, 0.43);
}