main #itens{
    display: flex;
    justify-content: space-between;
}
#txtHeader{
    display: flex;
    justify-content: space-between;
    background: var(--cor-vinho);
}

#txtHeader p {
    margin: 10px;
    color: #fff;
    font-weight: bold;
}

nav #brand{
    margin: 10px;
    width:50px;
}